body{
    font-family: Arial, sans-serif;
    background:#0f172a;
    color:white;
    margin:0;
    padding:20px;
}

.container{
    max-width:600px;
    margin:auto;
}

.card{
    background:#1e293b;
    padding:20px;
    margin-bottom:15px;
    border-radius:12px;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    border:none;
    border-radius:8px;
}

button{
    width:100%;
    padding:10px;
    background:#22c55e;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
